body,
html {
  height: 100%;
  margin: 0px;
  padding: 20px;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

.UI__Grid__ {
}

@keyframes cell {
  from {
    //transform: rotate3d(1, 1, 0, 180deg);
    transform: translate(1000px, 1000px);
  }
  to {
    //transform: rotate3d(1, 1, 0, 360deg);
    transform: translate(0%, 0%);
  }
}
