body,
html {
  height: 100%;
  margin: 0px;
  padding: 20px;
  box-sizing: border-box;
}

body {
  overflow: auto;
}

.UI__Grid__ {
  &cell {
    overflow: hidden;
    position: relative;
  }

  &card {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    span {
      height: 100%;
    }
  }
}
